<div class="modal fade" id="mrXModal" tabindex="-1" role="dialog"
	aria-labelledby="mrXModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h2 class="modal-title" id="myModalLabel">No hay rival para vos</h2>
			</div>
			<div class="modal-body">
				<form action="">
					<div class="row">
						<p>No hay quien se anime por tu ranking!!</p>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#encontreRivalModal" data-dismiss="modal">Retar a MR.X</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Descarsar</button> 
			</div>
		</div>
	</div>
</div>
